<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>邮件二</title>
</head>

<body>
<table width="650" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th align="left" style="background:#f3f3f3; padding:10px; border-bottom:1px solid #d5d5d5;"><a href="http://www.cn.jobs/"><img style="border:0;" src="images/logo-email.png"></a></th>
            <th style="background:#f3f3f3; padding:10px; border-bottom:1px solid #d5d5d5;text-align:right; font-size:12px; font-weight:normal; color:#666666; white-space:nowrap;">
                购买一个专属于自己的招聘微站点，专业从此开始!<a href="#">立即购买》</a>
            </th>
          </tr>
          <tr>
            <td colspan="2">
              <div style="margin-top:10px; margin-bottom:20px;">
                <div style=""><a href="#"><img src="images/email.png"></a></div>
              </div>
            </td>
          </tr>
          <tr>
            <td width="50%" style="padding:0 10px;" align="right"><a href="http://fuwu.aliyun.com/shop/product_detail?productId=cmjz000224"><img src="images/email2.png" alt="去阿里云详情了解"></a></td>
            <td style="padding:0 10px;"><a href="http://www.cn.jobs/jobs_domains/new"><img src="images/email3.png" alt="域名申请"></a></td>
          </tr>
      </table>
      <table style="background:#ffffff; padding:50px 60px 20px;">
        <tr>
          <td>
              <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="50" style="border-bottom:1px dotted #666666; padding:10px 0;">
                    <img style="border:0;" src="images/email4.png">
                  </td>
                  <td style="border-bottom:1px dotted #666666; padding:10px 0;">
                    <p style="font-family:SimHei; font-size:14px; line-height:20px; font-weight: bold; color:#666666; margin:0;">世界1000强中的700强正在使用.jobs微站点</p>
                    <p style="font-size:12px; line-height:20px; color:#666666; margin:0;">可自助发布职位信息，管理人才库，是一个专用于企业招聘的微站点</p>
                  </td>
                </tr>

                <tr>
                  <td width="50" style="border-bottom:1px dotted #666666; padding:10px 0;">
                    <img style="border:0;" src="images/email5.png">
                  </td>
                  <td style="border-bottom:1px dotted #666666; padding:10px 0;">
                    <p style="font-family:SimHei; font-size:14px; line-height:20px; font-weight: bold; color:#666666; margin:0;">全方位展示企业专业雇主形象</p>
                    <p style="font-size:12px; line-height:20px; color:#666666; margin:0;">当你拥有一个.jobs站点，既是企业信息发布平台，又是一个展示企业形象的站点</p>
                  </td>
                </tr>

                <tr>
                  <td width="50" style="border-bottom:1px dotted #666666; padding:10px 0;">
                    <img style="border:0;" src="images/email6.png">
                  </td>
                  <td style="border-bottom:1px dotted #666666; padding:10px 0;">
                    <p style="font-family:SimHei; font-size:14px; line-height:20px; font-weight: bold; color:#666666; margin:0;">信息推广同步到全球网络</p>
                    <p style="font-size:12px; line-height:20px; color:#666666; margin:0;">所有职位信息可实时同步到国内多家.jobs站点，并同步到美国多个.jobs站点</p>
                  </td>
                </tr>

                <tr>
                  <td width="50" style=" padding:10px 0;">
                    <img style="border:0;" src="images/email7.png">
                  </td>
                  <td style=" padding:10px 0;">
                    <p style="font-family:SimHei; font-size:14px; line-height:20px; font-weight: bold; color:#666666; margin:0;">简单易记便于搜索的独有网址</p>
                    <p style="font-size:12px; line-height:20px; color:#666666; margin:0;">在特定的地区、行业、公司后加.jobs构成独有网址，简单易记</p>
                  </td>
                </tr>
              </table>
          </td>
        </tr>
      </table>

      <table style="padding:20px 60px 40px;" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3">
                  <div style="display:inline-block; border-bottom:2px solid #d6e2f0; width:100%;"><span style="display:inline-block; border:2px solid #d6e2f0;border-bottom:2px solid #ffffff; border-radius:2px 2px 0 0; font-size:14px; font-family:'Microsoft YaHei'; color:#071e38; padding:6px 8px; margin-bottom:-2px; background: #FFFFFF;">成功案例</span></div>
                </td>
              </tr>
              <tr>
                <td style="padding:10px 0;">
                  <a style="display:block;" href="http://www.ibm.jobs/"><img src="images/email_19.png"></a>
                  <a style="color:#666666; font-size:12px; font-family:Arial; text-decoration:none;" href="http://www.ibm.jobs/">www.ibm.jobs</a>
                </td>
                <td style="padding:10px 0;">
                  <a style="display:block;" href="http://www.mcdonalds.jobs/"><img src="images/email_05.png"></a>
                  <a style="color:#666666; font-size:12px; font-family:Arial; text-decoration:none;" href="http://www.mcdonalds.jobs/">www.mcdonalds.jobs</a>
                </td>
                <td style="padding:10px 0;">
                  <a style="display:block;" href="http://www.bank-of-tianjin-thirdcenter.jobs/"><img src="images/email_07.png"></a>
                  <a style="color:#666666; font-size:12px; font-family:Arial; text-decoration:none; display:block; width:155px; overflow:hidden; white-space:nowrap;text-overflow: ellipsis;" href="http://www.bank-of-tianjin-thirdcenter.jobs/" title="www.bank-of-tianjin-thirdcenter.jobs">www.bank-of-tianjin-thirdcenter.jobs</a>
                </td>
              </tr>

              <tr>
                <td style="padding:10px 0;">
                  <a style="display:block;" href="http://www.yunshipei.jobs/"><img src="images/email_28.png"></a>
                  <a style="color:#666666; font-size:12px; font-family:Arial; text-decoration:none;" href="http://www.yunshipei.jobs/">www.yunshipei.jobs</a>
                </td>
                <td style="padding:10px 0;">
                  <a style="display:block;" href="http://www.intel.jobs/"><img src="images/email_13.png"></a>
                  <a style="color:#666666; font-size:12px; font-family:Arial; text-decoration:none;" href="http://www.intel.jobs/">www.intel.jobs</a>
                </td>
                <td style="padding:10px 0;">
                  <a style="display:block;" href="http://www.neusoft.jobs/"><img src="images/email_30.png"></a>
                  <a style="color:#666666; font-size:12px; font-family:Arial; text-decoration:none;" href="http://www.hyundai.jobs/">www.neusoft.jobs</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table  style=" background:#f3f3f3; padding:20px 0 20px;" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td>
            <p style="margin:0;line-height:22px; font-size:12px; color:#1c1b1b; text-align:center;">如有问题您可以拨打热线电话：400-877-6880，也可以发送邮件：info@cn.jobs</p>
            <p style="margin:0;line-height:22px; font-size:12px; color:#1c1b1b; text-align:center;">北京市朝阳区广渠东路1号中广国际大厦&nbsp;&nbsp;&nbsp;100124</p>
            <p style="margin:0;line-height:22px; font-size:12px; color:#1c1b1b; text-align:center;">公司网址：www.cn.jobs</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
